.header-container {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    padding: 20px;
    background-color: #f5f5f5;
}

.header-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}