.navbar {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* background-color: #f9f9f9; */
    background-color: #c1def0;
    border-radius: 10px;
}

.contacts a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #555;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s, transform 0.1s;
    border: 1px solid transparent;
}

.contacts a:hover {
    background-color: #eaf4ff;
    color: #4a90e2;
    transform: translateY(-2px);
    border-color: #cce0ff;
}

.contacts a svg {
    font-size: 1.3rem;
    flex-shrink: 0;
}

.contacts a:nth-child(1) svg {
    color: #2ecc71;
}

.contacts a:nth-child(2) svg {
    color: #f39c12;
}

.contacts a:nth-child(3) svg {
    color: #e74c3c;
}

.contacts a:nth-child(4) svg {
    color: #333;
}

.contacts a:nth-child(5) svg {
    color: #0077b5;
}

@media (max-width: 600px) {
    .resume-container {
        margin: 10px;
        padding: 10px;
    }
    .contacts {
        gap: 10px;
    }
    .contacts a {
        font-size: 0.95rem;
    }
}